In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [4]:
co2 = pd.read_csv('./Data/co2_emission.csv')
gdp = pd.read_csv('./Data/gdp_csv.csv')
pop = pd.read_csv('./Data/population_by_country_2020.csv')
con = pd.read_csv('./Data/countries_continent.csv')

In [5]:
gdp.rename(columns = {'Country Code':'Code'}, inplace = True)
gdp.rename(columns = {'Country Name':'Entity'}, inplace = True)
pop.rename(columns = {'Country (or dependency)':'Entity'}, inplace = True)
pop.rename(columns = {'Population (2020)':'Population'}, inplace = True)

In [6]:
con.rename(columns = {'country':'Entity', 'region':'Continent'}, inplace = True)

In [7]:
continent = con[['Entity', 'Continent', 'sub-region']]

In [8]:
pop2020 = pop[['Entity', 'Population']]
print(pop2020.head())

          Entity  Population
0          China  1440297825
1          India  1382345085
2  United States   331341050
3      Indonesia   274021604
4       Pakistan   221612785

In [9]:
print(co2.Code.nunique())

222

In [10]:
print(gdp.Code.nunique())

256

In [11]:
print(co2.Entity.nunique())
print(gdp.Entity.nunique())

233
256

In [12]:
print(co2.Year.nunique())

267

In [13]:
co2gdp = pd.merge(co2, gdp, how='inner', on=['Code', 'Entity', 'Year'])
co2gdp = pd.merge(co2gdp, pop2020, how='inner', on=['Entity'])
co2_gdp = pd.merge(co2gdp, continent, how='inner', on=['Entity'])
print(co2_gdp.head())

        Entity Code  Year  Annual CO₂ emissions (tonnes )         Value  \
0  Afghanistan  AFG  1960                       413883.42  5.377778e+08
1  Afghanistan  AFG  1961                       490797.70  5.488889e+08
2  Afghanistan  AFG  1962                       688594.27  5.466667e+08
3  Afghanistan  AFG  1963                       706735.98  7.511112e+08
4  Afghanistan  AFG  1964                       838550.83  8.000000e+08

   Population Continent     sub-region
0    39074280      Asia  Southern Asia
1    39074280      Asia  Southern Asia
2    39074280      Asia  Southern Asia
3    39074280      Asia  Southern Asia
4    39074280      Asia  Southern Asia

In [14]:
co2_gdp.rename(columns = {'Value':'GDP'}, inplace = True)
co2_gdp.rename(columns = {'Annual CO₂ emissions (tonnes )':'Emissions'}, inplace = True)

In [15]:
co2_gdp.sort_values(by=['Year'], inplace=True)

In [16]:
co2_gdp.GDP.max()

18624475000000.0